body {
    background-image: url(../img/8.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

p {
    margin-top: 130px;
}

h2 {
    margin: 120px;
}

.intro {
    font-size: 4em;
    font-weight: bold;
}

.title {
    font-size: 7em;
    font-weight: bold;
}

img {
    width: 7%;
}